<div class="page-header">
	<h1>Activities#index</h1>
</div>
<p>Find me in app/views/activities/index.html.erb</p>
<% @activities.each do |activity| %>
<ul class="list-group col-md-6">
	<li class="list-group-item clearfix">
		<%= activity.owner.username %>
		<% if activity.trackable %>
		<%= link_to activity.trackable do %>
		<%= render_activity activity, display: :i18n %>
		<% end %>

		<% elsif !activity.key.include? "destroy" %> 
				<%= render_activity activity, display: :i18n %>
				which has since been destroyed

		<% else %>
		<%= render_activity activity, display: :i18n %>
		<% end %>
	</li>
</ul>

<% end %>